.ProductContent{
  display: flex;
  justify-content: space-between;
  margin-top: 8rem;
  margin-bottom: 5rem;
}
.topProduct{
  margin-top: 3rem;
  font-size: 20px;
  margin-bottom: 3rem;
}
.ded{
  color: #7d7987;
  margin-top: 2rem;
}
.btn{
  padding: 15px 35px;
  margin-top: 3rem;
  border-radius: 2rem;
  color: #4a90e2;
  border: #4a90e2 solid 2px;
  cursor: pointer;
}
.down{
  width: 95%;
}